/*Blog*/

.catBack {
    background-image: url(/images/oil.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  }
  
  .homePost {
    overflow:hidden;
  }
  
  .bFloat {
    position: relative;
    top: 79%;
    overflow:hidden;
    transition: .5s;
  }
  
  
  .bFloat:hover {
    top:55%;
    transition: .5s;
  }
  
  
  .mainFloat {
    position: relative;
    top: 90%;
    overflow:hidden;
    transition: .5s;
  }
  
  .mainFloat:hover {
    top:80%;
    transition: .5s;
  }
  
  .topicsCard {
    border-radius: 1rem;
  }
  
  .postOverlay {
    padding:2%;
  }
  
  
  .author-pic {
    width:60%;
    border-radius:24px;
  }
  
  .year {
      width:30%;
  }
  
  .btn:hover {
      text-decoration: none;
      color:white;
  }
  
  .blog-border {
      border: 1px solid #cccccc;
      padding:2%;
  }
  
  .topicsCard {
    padding:1%;
    width:300px !important;
    margin: 1%;
  }
  
  .flexCon {
    justify-content: center;
    display:flex;
    flex-direction: column;
    padding: 2%;
  }
  /*responsive magic*/


  @media only screen and (max-width: 540px) {

    .mainFloat,
    .bFloat {
      top: 85%;
      overflow:hidden;
      transition: .5s;
    }  

  }