/*
This file contains the custom style elements
  Words are separated with "-"

    --Table of contents--

    ~High level declarations
        ~Colors
    ~Low level declarations
        ~Navigation
        ~Home page
         ~Main Title
         ~Features
         ~About
         ~Problems and Solutions
        ~Blog
        ~Contact Form
        ~Share widget

*/


$primary-color: white;
$secondary-color: rgb(0, 138, 23);
$accent-color: #030303;

@font-face {
  src: url(/images/rough.ttf);
  font-family: rough;
}


@import 'colors';
@import 'blog';

/****High-level declarations****/

body {
  background-image: url(/images/beanstalk.png);
  background-repeat: repeat;;
}

img {
    max-width: 100%;
    padding:1%;
}

a:hover {
    text-decoration: none;
}

h3 {
    font-size: 1.2rem;
    opacity: .8;
}
  
  ul.features-list > li {
    line-height: 200%;
    font-size: 1.5rem;
    list-style-type: none;
  }

p {
    font-size: 1.3rem;
}
  
.card {
    border-color: transparent;
  }

  
/*--Color declarations--*/




/*****Low level declarations*****/


/*------navigation-------*/





/*basic nav*/
.basic-header {
  font-size: 1.4rem;
}

.basic-header:hover {
background-color: $accent-color;

/*{% if site.hamburger-nav %}*/ 
border-radius: 0%;
/*{% else %}*/
border-radius: 10%;
/*{% endif %}*/

transition-duration: 0.3s;
}

li.basic-header > a.nav-link:hover {
  color:white !important; 
}

.contact-info {
  font-size: 0.9rem;
  line-height: 40%;
}



/*Hamburger-nav*/


/*{% if site.hamburger-nav %}*/ 
@import 'hamburger-nav';

/*{% endif %}*/



/*card nav*/



nav { 


 /*{% if site.card-nav %}*/ 

 .card-head{
  border: 2px solid black;
  opacity: .5;
  border-top: transparent;
  padding-top: 2%;
 }

/* else */

.card-head{
  /*{% if site.hamburger-nav %}*/ 
  border: 2px solid, transparent;
  border-radius: 0% !important;

  /* {% else %} */
  border: 2px solid, rgb(82, 82, 82);
  /*{% endif %}*/
  opacity: .5;
  border-top: transparent;
  padding-top: 2%;
  z-index: 3;
 }

/* {% endif %} */

 .header {
  font-size: 2rem;
 }


 .Icon {
  width:40px;
  height:40px;
 }


 
 @keyframes linkhover {

  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
 }
}

@media only screen and (min-width: 900px) {

  .ResponsiveInfo {
      display: none !important;
  }

}


@media only screen and (max-width: 900px) {

  .navBig {
    display:none;
  }
}

/**Home Page**/

/*Main title*/
.backpic {
  background-image: url(/images/treetop.jpeg);
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}

.title {
    font-family: rough;
    display: block;
    margin-bottom: 0%;
  }

.mainTitle {
  background-color:rgba(white, 0.9);
}

.portTitle,
.subtitle {
    font-weight: light;
    font-size: 32px;
} 

.quotebtn {
  font-size: 2rem;
  background-color: #693b1a;
  color:white !important;
  padding: 1.3%;
  border-radius: 20px;
  font-weight: bolder;
}

.frontSlide{
  z-index: 2;
  position: absolute;  
  background-color:rgba(white, 0.9);

}

.topInfo {
  background-color: transparent;
  font-size: 1.6rem;
  display: inline;
  overflow: visible;
  margin-right: 2%;
  color: rgb(92, 92, 92)
}

.linksInfo {
  background-color: transparent;
  font-size: 1.6rem;
  display: inline;
  overflow: visible;
  margin-right: 2%;
  color:green;
}

.botInfo {
  background-color: transparent;
  font-size: 1.6rem;
  display: inline;
  overflow: visible;
  margin-right: 2%;
  color: rgb(51, 51, 51)
}


.topIcon {
  width:130px !important;
  overflow: auto;
  background-color: transparent;
}

.icon8 {
  width:50px !important;
  overflow: auto;
  background-color: transparent;
}

@media only screen and (max-width: 720px) {
    .title {
        font-size:3rem;
    }
    .subtitle {
        font-size: 1.5rem;
        padding:3%;
    }
    .description {
      display:none;
    }

    .topIcon {
      display: none;
    }
}

@media only screen and (max-width: 496px) {
    .title {
        font-size:2rem;
        padding:1%;
    }

    .subtitle {
        font-size: 1.3rem;
    }
}


/*Features*/

ul.featureList {
  font-size: 1.3rem;
}

.featureTitle {
  font-family: rough;
}

.featureText {
  font-size: 1.5rem;
}

.feature-icon {
    width: 90px;
    height: 90px;
    margin-top:2%; 
    margin-bottom:5%;
  }

  #f1_container {
    position: relative;
    margin: 10px auto;
    height: 400px;
    z-index: 1;
  }
  #f1_container {
    perspective: 1000;
  }
  #f1_card {
    /*copied from bootstrap col-md-4*/
    -ms-flex:0 0 33.333333%;
    flex:0 0 33.333333%;
    max-width:33.333333%;
    position:relative;
    width:100%;
    -ms-flex-preferred-size:0;
    flex-basis:0;
    -ms-flex-positive:1;
    flex-grow:1;
    max-width:100%;

    /*normal rules for f1_card*/
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
  }

  #f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
  }
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
  }


  .blueprint {
    background-image: url(/images/blueprints.jpg);
  }

  .sportsCar {
    background-image: url(/images/sportsCar.jpg);
  }

  .welder {
    background-image: url(/images/welding.jpg);
  }
 


.blueprint,
.sportsCar,
.welder {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media only screen and (max-width: 1276px) {

    .about-pc {
        display: none;
    }

}

@media only screen and (min-width: 1276px) {

  .about-responsive {
      display: none;
  }

}

@media only screen and (max-width: 1100px) {

  .respImg {
      display: none;
  }

}

/*About*/

ul.features-list {
  list-style: none;
}

ul.features-list li:before {
  content: '✓';
}

.aboutPic {
  background-image: url(/images/treeAxe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.backTrans {
  background-color: rgba(black, 0.7);
  padding:3%;
}

/*Portfolio*/

.portTitle {
  color:purple;
  font-size:4rem;
  font-weight: bolder;
}

  /*Portfolio*/

  .siteLink {
    background-color: #0077B5;
  }
  
  .gitlabLink {
    background-color: #ff7200;
  }
  
  .siteLink,
  .gitlabLink {
    padding: 1%;
    margin: 1%;
    border-radius: 20%;
    font-size:  1.3rem;
  }
  

/* --post-- */

.postTitle {
  font-size: 4rem;
  font-weight: bold;
}

/* --sidebar-- */

.sidePic {
  border-radius: 50%;
  width:200px;
}

.sticky {
  position:fixed;
  top: 10%;
}

.sidebar__inner{
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}

/*Contact Form*/  
  .contact {
    border: 3px solid #007510;
    padding:6%;
  }

  .subBtn {
    background-color: rgb(0, 217, 255);
    color: white !important;
  }

/* share widget */

.fa-facebook {
    color:#4267B2;
}

.fa-twitter {
    color: #38A1F3;
}

.fa-pinterest {
    color: red;
}

.fa-reddit {
    color:#FF4301;
}

.fa-linkedin {
    color:#0077B5;
}

.fa-envelope-square {
    color: red;
}


