<!--The about section of the homepage -->


<!--Google analytics screenshot-->


 <!--Comments-->

 <!--The following section fades in from the right-->
 <div class="aboutPic">
    <div class="d-flex p-3 bg-transparent"></div>

<div class="backTrans col-md-3 offset-md-1 mt-5" id="2" data-aos="fade-right">

  <div class="card col-md-12 bg-transparent">

    <h1>Services</h1>
    <ul class="features-list">
      <li>Complete tree removal</li>
      <li>Stump grinding</li>
      <li>Emergency tree removal</li>
      <li>Remove any sized tree</li>
      <li>Pruning</li>
      <li>Limbing</li>
      <li>Dangerous limbs</li>
    </ul>
  
  </div>
 
  </div>
  <div class="d-flex p-4 bg-transparent"></div>
  </div>