


<!--Hazordous Limb Removal-->
<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>

<div class="col-md-12 d-flex justify-content-center">
<div class="row col-md-10">
<div class="card col-md-5 bg-transparent">
<h1 class="featureTitle text-center">Tree Services</h1>
<p class="featureText">
       Our team of experienced arborists specializes in a variety of tree services.
       <ul class="featureList">
               <li>Tree Trimming, Pruning, and Removal</li>
               <li>We Serve both Residential and Commercial Clients</li>
               <li>Stump Grinding</li>
               <li>Emergency Tree Removal</li>
        </ul>
</p>
</div>

<div class="col-md-1 card bg-transparent"></div>

<div class="bg-transparent card col-md-6 respImg">
<img src="/images/photo-1521633603986-cb82a097ffba.png">
<div class="d-flex p-4 bg-transparent"></div>

</div>

</div>

</div>


<!--Stump Grinding-->

<div class="col-md-12 d-flex justify-content-center">
        <div class="row col-md-10">

            <div class="bg-transparent respImg card col-md-4">
        <img src="/images/stump.png" class="col-md-8">
        
        </div>
        
        <div class="col-md-1 card bg-transparent"></div>

        <div class="card col-md-5 bg-transparent">
        <h1 class="featureTitle text-center">Locations</h1>
        <p class="featureText">Our Local Crew Serves a handful of Locations in Oregon</p>
        <ul class="featureText">
                <li>Beaverton, OR</li>
                <li>Aloha, OR</li>
                <li>Portland, OR</li>
                <li>Hillsboro, OR</li>
                <li>Tigard, OR</li>
        </ul>
        </div>
        
        

        
        </div>
        
        </div>


<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>

<div class="col-md-12 d-flex justify-content-center">
<div class="row col-md-10">
<div class="card col-md-5 bg-transparent">
<h1 class="featureTitle text-center">Fences</h1>
<p class="featureText">
       In addition removing your trees, we also provide fence
        repair/re-building services. We match the materials with your
        budget in order to create a long-term fence.

</p>
</div>

<div class="col-md-1 card bg-transparent"></div>

<div class="bg-transparent card col-md-6 respImg">
<img src="/images/tallTree.png">
<div class="d-flex p-4 bg-transparent"></div>

</div>

</div>

</div>