
<!--The archive contains the values and logic for the archive
    
    All the JS used is from the JS bootstrap library
-->

<h1 class="subtitle text-center">Archive</h1>

{% assign currentYear = site.time | date: "%Y" %}
{% assign currentMonth = site.time | date: "%B" %}
{% for post in site.posts %}
    
    {% assign postYear = post.date | date: "%Y" %}
    {% assign postMonth = post.date  | date: "%B" %}
    
    <!--Basic structure-->
    {% if forloop.first %}
    <button class="offset-md-4 btn btn-primary year" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <li> {{ postYear}}
    </button>
        <ul class="collapse" id="collapseExample">
            <li> {{ postMonth }}
                <ul>
    {% endif %}
    
    <!--If the post happened in the current year-->
    {% if (postYear == currentYear and postMonth == currentMonth) or forloop.first %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endif %}
    
    <!--If the post happened in the current year, but the month posted is not the current month-->
    {% if postYear == currentYear and postMonth != currentMonth %}
        </ul></li>
        <li> {{ postMonth }}
            <ul>
                <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endif %}
    
    <!--If post year does not equal current year-->
    {% if postYear != currentYear %}
        </ul></li></ul></li>
        <button class="offset-md-4 btn btn-primary year" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <li> {{ postYear}}
            </button>
                <ul>
                    <li class="collapse" id="collapseExample"> {{ postMonth }}
                        <ul>
                            <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endif %}
    {% assign currentYear = postYear %}
    {% assign currentMonth = postMonth %}
{% endfor %}