<!--
    ----Contact Form----

    You will have to customize where form the sends
    the information. It is currently setup to send
    data to netlify.

-->

<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-2 bg-transparent"></div>

<div class="d-flex col-md-12 justify-content-center">

<!--Basic form controls-->
<form class="col-md-5"  name="contact" method="POST" data-netlify="true">
  
  <div class="d-flex p-4 bg-transparent"></div>

  <div class="card contact">
<!--form title-->
<h2 class="text-center estimate" id="4">Schedule a Free Consultation!</h2>

<!--Name input-->
  <label for="firstname">What is your name?</label>
  <input id="firstname" type="text" class="form-control"><br>

 <div class="d-flex p-4 bg-transparent"></div>
 <div class="form-group">
 <!--Email input--> 
    <label for="exampleInputEmail1">Email adress</label>
   <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
   <small id="emailHelp" class="form-text text-muted"></small>
 </div>
 <div class="d-flex p-4 bg-transparent"></div>

<!--Descritpion input-->
<label for="description">Describe what you want from your website.</label>
<textarea rows="4" cols="50" id="description" placeholder="-A landing page for your small businesses
-Upgrading your wordpress site
-More leads">
</textarea>

<div class="d-flex p-4 bg-transparent"></div>


<!--Submit button-->
 <p><button type="submit" class="btn subBtn text-white">Submit</button></p>
</form>
</div>
</div>

<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>