<!--Footer-->
CCB#209517

<!--Disqus comments-->



{% if page.comments %}
<div class="col-md-12 d-flex justify-content-center">
<div class="col-md-6">
<div id="disqus_thread"></div>
</div>
</div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://{{site.data.widgets.disqus}}.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}



<!--Page footer-->
<div class="col-md-12 footer-card">
        <div class="d-flex p-2 bg-transparent"></div>
        <p class="copyright text-center">{{site.title}} | copyright 2019.</p>
        <script type="text/javascript">
            $(document).ready(function() {
                console.log("Time until DOMready: ", Date.now()-timerStart);
            });
            $(window).load(function() {
                console.log("Time until everything loaded: ", Date.now()-timerStart);
            });
       </script>
        <a href="https://icons8.com/icon/13930/linkedin"><p class="text-center text-white">icons by Icons8</p></a>
        <div class="d-flex p-2 bg-transparent"></div>


</div>

<!--Scripts-->

{% if page.scripts %}

<!--Jquery-->

<!--Bootstrap.js is for the archive button-->

<script src="/scripts/lazy-loading.js"></script>
{% endif %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script>
    AOS.init();
    </script>
</body>


