
<!--List based horizontal navigation bar-->

<nav class="navbar navbar-expand navbar-light bg-light fixed-top">
        <div class="navbar-collapse">
          <ul class="navbar-nav">
            
            <li class="nav-item basic-header">
              <a class="nav-link text-center white" href="/">Home</a>
            </li>
            
          <!--Quote
            <li class="nav-item basic-header">
              <a class="nav-link text-center white" href="/#contact">Quote</a>
            </li>
          -->
        </ul>
        </div>

      </nav>