

<div class="pos-f-t fixed-top">

<nav class="navbar-light nav bg-light col-md-12">
    <div class="d-flex p-4 bg-transparent"></div>


        <button class="navbar-toggler" type="button"
      data-toggle="collapse" 
      data-target="#navbarToggleExternalContent" 
      aria-controls="navbarToggleExternalContent" 
      aria-expanded="false=" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="collapse card-nav" id="navbarToggleExternalContent">
      
        {% include navbars/card-nav.html %}
      </div>
</div>

