<!--
    ~~~Home page layout~~~

    Conventions:
    Vertical spacing: <div class="d-flex p-4 bg-transparent"></div>
    Horizontal centering: <div class="d-flex justify-content-center">

-->

{% include head.html %}





 {% include navbars/basic-nav.html %}


<div class="card backpic">
    <div class="col-md-12 frontSlide animated fadeInDown">
    <div class="d-flex p-4 bg-transparent description"></div>
    <div class="d-flex p-4 bg-transparent description"></div>
    <h1 class="display-3 title text-center">
            <img class="topIcon" src="/images/treelogo.png">Oregon Tree Removal
        <h2 class="text-center subtitle">
                <i>West Hills Turf & Tree LLC</i></h2>
        
                <div class="d-flex p-2 bg-transparent description"></div>

            <!--PC contact info-->
<ul class="list-group list-group-horizontal col-md-12 navBig">
    <div class="d-flex col-md-12 justify-content-center">

            <a class="linksInfo" href="tel:503-997-0385">503-997-0385</a>
        </li>

        <li class="linksInfo list-group">
            <a class="linksInfo" href="mailto:whttllc@gmail.com">whttllc@gmail.com</a>

        </li>
    </ul>
  
    <div class="d-flex p-2 bg-transparent description"></div>

    <ul class="list-group list-group-horizontal col-md-12 navBig">
        <div class="d-flex col-md-12 justify-content-center">
    
            <li class="botInfo list-group">
                <i>Licensed</i>
            </li>
    
            <li class="botInfo">
                <i>Bonded</i>
            </li>
    
            <li class="botInfo">
                <i>Insured</i>
            </li>
        </div>

</ul>

            <!--Responsive contact info-->

    <div class="d-flex col-md-12 justify-content-center">

        <div class="ResponsiveInfo card topInfo row bg-transparent">
            <a class="linksInfo" href="tel:503-997-0285">503-997-0385</a>
        </div>
    </div>

    <div class="d-flex col-md-12 justify-content-center">
        <div class="ResponsiveInfo card topInfo bg-transparent">
            <a class="linksInfo" href="mailto:whttllc@gmail.com">whttllc@gmail.com</a>

        </div>
    </div>



    <div class="d-flex p-4 bg-transparent description"></div>

 

        <div class="d-flex p-4 bg-transparent description"></div>




    </div>

<!--Main Title-->

<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>

    <div class="d-flex p-3 bg-transparent description"></div>
    <div class="d-flex p-4 bg-transparent description"></div>

    <div class="d-flex p-4 bg-transparent description"></div>
    <div class="d-flex p-4 bg-transparent description"></div>
    <div class="d-flex p-4 bg-transparent description"></div>
    
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div><div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="offset-md-4">
</div>



<div class="d-flex p-4 bg-transparent"></div>

</div>

<!--Services-->
<div class="d-flex p-4 bg-transparent"></div>

<h1 class="text-center title display-4">Services</h1>

<div id="about">
    
 {% include /homepage/servicesTree.html %}
</div>




{% include footer.html %}
